* {
    box-sizing: border-box;
    color: rgb(252, 252, 250);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(67, 68, 68);
    text-align: center !important;
    font-family: monospace;
}

#container {
    /* display: none; */
}

#inner-div {
    display: flex;
    justify-content: center;
    gap: 7%;
}

.main-div {
    /* display: none; */
}

.guide-div {
    background-color: rgb(56, 11, 5);
    border-radius: 2%;
    border: groove black;
    width: fit-content;
}

.guide-btn {
    background-color: rgb(65, 4, 9);
    padding: 4px 10px;
    margin: 10px 15%;
    color: #ffffff;
    font-size: 20px;
    border-radius: 5px;
}

.hide-btn {
    /* background-color: rgb(2, 7, 48); */
    /* padding: 8px 25px; */
    margin: 10px auto;
    /* color: #ffffff; */
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.begin-btn {
    background-color: rgb(2, 7, 48);
    padding: 4px 15px;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 5px;
}

.reset-btn {
    background-color: rgb(0, 0, 3);
    font-size: 17px;
    border-radius: 5px;
    margin-left: 40%;
}

.guess-box {
    padding: 5px;
    font-size: 20px;
}

.check-btn {
    background-color: rgb(3, 3, 3);
    padding: 4px 15px;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 5px;
}

.wrong {
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(248, 2, 2);
    padding: 8px 25px;
    margin: 0% 10% 0% 10%;
}

.success {
    background-color: blue;
    padding: 8px 25px;
    margin: 0% 10% 0% 10%;
    font-size: 20px;
    border-radius: 5px;
}

#style {
    background-color: rgb(37, 14, 4);
    padding: 12px 12px 55px 12px;
    border-radius: 2%;
    width: 30%;
    text-align: center;
    border: 5px;
}

input {
    width: 50%;
    text-align: center;
    color: teal;
}